services:
  lb:
    image: nginx:alpine
    ports:
      - "8090:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - fake_ecs
    networks:
      - kind

  fake_ecs:
    image: hashicorp/http-echo
    command: ["-text=Response from fake ECS", "-listen=:5678"]
    deploy:
      replicas: 2
    networks:
      - kind

networks:
  kind:
    external: true